@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/*null*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #595959;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 44px;
}

.header__logo {
  margin-left: 1px;
}

.button {
  font-family: 'San Francisco Pro';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-left: 10px;
  padding: 8px 16px;
}

.button__img {
  margin-right: 4px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons__log-in-btn {
  color: #ffffff;
  background: #1890ff;
}

.buttons__basket-btn {
  background: #ffffff;
  border: 1px solid #d9d9d9;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 690px;
  height: 40px;
  margin-left: 25px;
  padding-left: 9px;
  border: 1px solid #d9d9d9;
}

.search__picture {
  margin-right: 4px;
}

.search__input {
  font-family: 'San Francisco Pro';
}

.search__input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.search__input:-ms-input-placeholder {
  color: #bfbfbf;
}

.search__input::-ms-input-placeholder {
  color: #bfbfbf;
}

.search__input::placeholder {
  color: #bfbfbf;
}
