@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import '_null';
* {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #595959;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	margin-top: 44px;
	&__logo {
		margin-left: 1px;
	}
	&__search {
		max-width: 690px;
		height: 40px;
	}
}
.button {
	font-family: 'San Francisco Pro';
	display: flex;
	align-items: center;
	height: 40px;
	margin-left: 10px;
	padding: 8px 16px;
	&__img {
		margin-right: 4px;
	}
}
.buttons {
	display: flex;
	&__log-in-btn {
		color: #ffffff;
		background: #1890ff;
	}
	&__basket-btn {
		background: #ffffff;
		border: 1px solid #d9d9d9;
	}
}
.search {
	display: flex;
	align-items: center;
	flex: 1;
	margin-left: 25px;
	padding-left: 9px;
	border: 1px solid #d9d9d9;
	&__picture {
		margin-right: 4px;
	}
	&__input {
		font-family: 'San Francisco Pro';
		width: 80%;
		&::placeholder {
			color: #bfbfbf;
		}
	}
}
.banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	height: 300px;
	margin-top: 40px;
	background: #fff1b8;
	box-shadow: 3px 10px 12px 0px #9e9ea31a;
	border-radius: 10px;
	&__offer {
		position: absolute;
		display: flex;
		flex-direction: column;
		margin-left: 71px;
		max-width: 539px;
	}
	&__picture {
	}
	&__title {
		font-size: 39px;
		font-style: normal;
		font-weight: 700;
		line-height: 46px;
		letter-spacing: 0em;
		text-align: left;
		color: #302c34;
		margin-bottom: 15px;
	}
	&__description {
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0em;
		text-align: left;
		color: #302c34;
	}
}
.gradient-block {
	display: flex;
	justify-content: center;
	width: 100%;
	background: linear-gradient(180deg, #f5f5f500 1.04%, #f5f5f5 100%);
	padding-bottom: 60px;
}
.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	max-width: 1200px;
	margin-top: 56px;
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	&__title {
		color: #000000;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: 42px;
		letter-spacing: 0em;
		text-align: left;
	}
	&__search {
		margin-bottom: 2px;
		max-width: 306px;
		height: 34px;
	}
	&__items {
		margin-top: 44px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
	}
	&__item {
		margin-bottom: 30px;
		background: #ffffff;
		border-radius: 7px;
		box-shadow: 0px 4px 12px 0px #0000000d;
	}
}
.item {
	&__info {
	}

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 24px 0px;
	}

	&__title {
		font-family: Roboto;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
	}

	&__time-wraper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 55px;
		height: 22px;
		background: #262626;
		border-radius: 2px;
	}

	&__time {
		font-family: 'San Francisco Pro';
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;
	}

	&__body {
		display: flex;
		padding: 10px 0 35px 24px;
	}

	&__rating {
		font-family: Roboto;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		color: #ffc107;
		margin-right: 26px;
		&:before {
			content: url('/img/star.png');
			margin-right: 8px;
		}
	}

	&__price {
		font-family: Roboto;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		color: #8c8c8c;
		&:after {
			content: '₽';
			margin: 0 11px 0 4px;
		}
	}

	&__category {
		font-family: Roboto;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		color: #8c8c8c;
		&:before {
			position: relative;
			bottom: 3px;
			content: url('/img/ellipse.png');
			margin-right: 10px;
		}
	}
}
.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	background: #ffffff;
	padding: 61px 0;
	&__logo {
		margin: 0 36px 0 1px;
	}

	&__nav {
		flex: 1;
		padding-top: 1px;
	}

	&__items {
		display: flex;
	}
	&__item {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #595959;
		margin-right: 15px;
	}

	&__soc-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 127px;
	}

	&__soc-link {
	}
}
