.banner {
	width: 100%;
	@include common-value('margin-top', 40.3);
	&__container {
		display: flex;
		@media (min-width: $md1+px) {
			min-height: 400px;
		}
		@media (min-width: $md2+px) {
			min-height: 300px;
		}
		@media (min-width: $md4+px) {
			min-height: 250px;
		}
		background-image: url(/img/first-banner.png);
		background-position: right;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: $colorMain;
		@media (max-width: $md3+px) {
			background-position-x: calc(40 * (100vw - 540px) / 299 - 250px);
		}
		@media (max-width: $md4+px) {
			background-position-x: calc(19 * (100vw - 300px) / 239 - 260px);
		}
		@media (max-width: $minWidth+px) {
			background-position-x: -260px;
		}
	}

	&__offer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media (min-width: $md2+px) {
			max-width: 540px;
		}
		@media (min-width: $md3+px) {
			margin: 40px 70.84px;
		}
		@media (min-width: $md4+px) {
			max-width: 340px;
		}
		margin: 50px 0;
		max-width: 237px;
	}

	&__title {
		@include common-value('margin-bottom', 15.29);
	}

	&__description {
	}
}
