.popup-basket {
	&__container {
	}

	&__body {
		max-width: 780.73px;
		padding: 40.8px 45.86px 41.22px 45.96px;
		background-color: #fff;
		border-radius: 5px;
	}

	&__title {
	}

	&__list {
	}

	&__item {
		display: flex;
	}

	&__name {
		margin-right: auto;
	}

	&__price {
	}

	&__quantyty {
	}

	&__bottom {
		display: flex;
	}

	&__total {
		margin-right: auto;
	}

	&__issue {
	}

	&__cancel {
	}
	&__close {
		top: 49.3px;
		right: 45.86px;
	}
}
