$colorMain: #f9b300;
$colorSecond: #fff7e1;
$colorLight: #ffffff;
$colorMainHover: #e2a300;
$colorLinkHover: #e2a300;
$colorBright: #f9b300;
$colorAlert: #ff3451;
$colorText: #292929;
$colorTextGray: #5b5b5b;
$colorTextLight: #c6c6c6;

body {
	color: $colorText;
	@media (min-width: $md1+px) {
		font-size: 25px;
	}
	@media (min-width: $md2+px) {
		font-size: 18px;
	}
	@media (min-width: $md3+px) {
		font-size: 32px;
	}
	font-size: 16px;
	line-height: 1.4;
	font-weight: 500;
	letter-spacing: 0em;
	font-style: normal;
}

// .form {
// 	position: relative;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-between;
// 	max-height: 100%;
// 	&__input,
// 	&__textarea {
// 		text-align: left;
// 		background-color: $colorSecond;
// 	}
// 	&__input {
// 		padding: 9px 0;
// 		border-bottom: 2px solid $colorText;
// 		&._error {
// 			border-bottom-color: $colorAlert;
// 		}
// 	}
// 	&__textarea {
// 		resize: vertical;
// 		min-width: 100%;
// 		min-height: 120px;
// 		padding: 9px 5px;
// 	}
// 	&__button {
// 		@include common-value('margin-top', 8);
// 		width: 238px;
// 		@media (max-width: $md3+px) {
// 			width: 100%;
// 		}
// 	}

// 	&__checkbox {
// 		display: none;
// 	}

// 	&__label {
// 		cursor: pointer;
// 		line-height: calc(24 / 12);
// 		text-align: left;
// 		display: flex;
// 	}
// }

// ._button {
// 	text-align: center;
// 	font-size: 1.11em;
// 	padding: 20px 51px;
// 	border-radius: 8px;
// 	cursor: pointer;
// 	transition: background-color 0.3s ease, transform 0.3s ease;
// 	&:active {
// 		transform: translateY(2px);
// 	}
// }

// ._button--main {
// 	color: $colorLight;
// 	background-color: $colorMain;
// 	&:hover {
// 		background-color: $colorMainHover;
// 	}
// }

// ._title {
// 	text-transform: uppercase;
// 	font-size: 2em;
// 	font-weight: 700;
// 	line-height: 43px;
// 	text-align: center;
// 	@include common-value('padding-top', 12);
// 	@include common-value('padding-bottom', 12);
// 	color: $colorTextGray;
// }

// ._underline {
// 	position: relative;
// 	&::before {
// 		content: '';
// 		position: absolute;
// 		width: calc(100% + 15px);
// 		height: 1px;
// 		background-color: $colorText;
// 		transition: width 0.3s ease-out;
// 		@include common-value('bottom', -1);
// 	}
// }

// ._cross {
// 	cursor: pointer;
// 	padding: 20px;
// 	&::after,
// 	&::before {
// 		position: absolute;
// 		top: 19px;
// 		right: 10px;
// 		content: '';
// 		width: 20px;
// 		height: 2px;
// 	}
// 	&::after {
// 		transform: rotate(45deg);
// 	}
// 	&::before {
// 		transform: rotate(-45deg);
// 	}
// }

// ._arrow {
// 	position: relative;
// 	padding-left: 20px;
// 	&::after,
// 	&::before {
// 		content: '';
// 		position: absolute;
// 		width: 10px;
// 		height: 2px;
// 		background-color: $colorText;
// 		border-radius: 25%;
// 		transition: all 0.5s ease;
// 	}
// 	&::after {
// 		top: calc(50% + 1px);
// 		transform: rotate(50deg);
// 		right: -4px;
// 	}
// 	&::before {
// 		top: calc(50% + 1px);
// 		transform: rotate(130deg);
// 	}
// 	&._active {
// 		&::after {
// 			transform: rotate(130deg);
// 		}

// 		&::before {
// 			transform: rotate(40deg);
// 			bottom: calc(50% + 2px);
// 			right: 12px;
// 		}
// 	}
// }

// .custom__checkbox {
// 	position: relative;
// 	margin-right: 10px;
// 	&--tick {
// 		min-width: 24px;
// 		height: 24px;
// 		border: 1px solid $colorText;
// 		&::before {
// 			top: 12px;
// 			left: 3px;
// 			width: 8px;
// 			transform: rotate(45deg);
// 		}
// 		&::after {
// 			top: 10px;
// 			left: 7px;
// 			width: 14px;
// 			transform: rotate(-45deg);
// 		}
// 		&::before,
// 		&::after {
// 			content: '';
// 			position: absolute;
// 			height: 2px;
// 			background-color: $colorMain;
// 			opacity: 0;
// 			visibility: hidden;
// 			transition-property: opacity visability;
// 			transition-duration: 0.5s;
// 			transition-timing-function: ease;
// 		}
// 	}
// }

// input._error + ._label .custom__checkbox {
// 	border-color: $colorAlert;
// }

// input:checked + ._label .custom__checkbox {
// 	&::before,
// 	&::after {
// 		opacity: 1;
// 		visibility: visible;
// 	}
// }

// .swiper .swiper-pagination-bullet {
// 	transition: background-color 0.4s linear;
// 	@media (min-width: $md1+px) {
// 		width: 20px;
// 		height: 20px;
// 		margin-right: 30px;
// 	}
// 	@media (min-width: $md2+px) {
// 		width: 14px;
// 		height: 14px;
// 		margin-right: 20px;
// 		background-color: $colorLight;
// 	}
// 	width: 10px;
// 	height: 10px;
// 	margin-right: 13px;

// 	&-active {
// 		@media (min-width: $md2+px) {
// 			background-color: $colorText;
// 		}
// 	}
// 	&:last-child {
// 		margin-right: 0;
// 	}
// }
