.header {
	width: 100%;
	padding-top: 44px;
	&__container {
	}

	&__body {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (min-width: $md2+px) {
			column-gap: 87px;
		}
		row-gap: 40.3px;
	}

	&__logo {
	}

	&__search {
	}

	&__buttons {
		display: flex;
		column-gap: 10px;
		& span {
			@media (max-width: $md3+px) {
				display: none;
			}
		}
	}
}

.logo {
	margin-right: 15px;
}

.search {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding: 10px 9px;
	border: 1px solid $borderGray;
	@media (max-width: $md2+px) {
		order: 1;
		flex-basis: 100%;
	}
	& svg {
	}

	&__input {
		font-size: 16px;
		line-height: 24px;
		flex-basis: 100%;
		padding-left: 4px;
		&::placeholder {
			color: $colorTextLight;
		}
	}
}
.buttons {
	&__log-in-btn {
	}

	&__basket-btn {
	}
}
