.header {
	z-index: 100;
	position: fixed;
	width: 100%;
	transition: background-color 0.4s ease;

	&__container {
	}

	&__body {
		display: flex;
		align-items: center;
		@media (min-width: $md1+px) {
			min-height: 160px;
		}
		@media (min-width: $md2+px) {
			min-height: 113px;
		}
		@media (min-width: $md3+px) {
			min-height: 143px;
		}
		min-height: 70px;
	}
}
